.linkFormularPregunta {
  color: rgba(0, 0, 0, 0.5);
}
.linkTusPublicaciones {
  color: rgba(0, 0, 0, 0.5);
}

.linkBlanco {
  color: white;
}

.contenedorLinkCerrar {
  margin-left: 2%;
}

.contenedorLinkPerfil {
  margin-left: 3%;
}
